.theFirstDiv {
  margin: 1rem 1rem 1rem 1rem;
}

.title {
  font-weight: bolder;
  text-decoration: underline;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.jumpToPage {
  margin-bottom: 0.5rem;
}

.jumpToPageSelect {
  border: 1px solid #000000;
}

.button {
  margin-bottom: 0.5rem;
}

.logButton {
  color: white;
  padding: 0.5em;
}

.mainFormBorder {
  border: 1px solid grey;
  padding: 0.5rem;
  margin: auto;
}
